<div id="feed" class="list-group w-100 pl-2 h-566">
  <% @opinions.order("created_at DESC").each do | opinion | %>
    <%= render 'opinions/shared/users_following_feed', opinion: opinion %>
  <% end %>
</div>
