<nav class="navbar navbar-expand-lg navbar-light bg-light-blue nav-styles">
  <a class="navbar-brand" href="<%= root_path %>"><i class="fa fa-opera" aria-hidden="true"></i>'s</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <%= render 'opinions/shared/login_navbar' %>
    </ul>
  </div>
</nav>