<div class="container pt-3 pr-0">
  <div class="col-12 row align-items-baseline justify-content-center ">
    <div class="col-4 avatar">
      <%
=begin%>
 <%= current_avatar %> 
<%
=end%>
    </div>
    <div class=" justify-content-center col-8 " style=" text-align: center">
      <h5 class="card-title text-light"><%= current_user.fullname %></h5>
    </div>
  </div>
  <hr>
  <div class = "col-12 row mt-5">
    <div class = "col-6 text-secondary">
      <%= current_user.followings.count %>
      <p class = "text-secondary">Following</p>
    </div>
    <div class="col-6 text-secondary">
      <%= current_user.followers.count %>
      <p class = "text-secondary">Followers</p>
    </div>

  </div>
</div>
<hr>