<div>
    <h1> 
        UserName: <span> <%= @user.username %>  </span>
    </h1>
    <h2>All posts</h2>
    <ul>
        <% @user.opinions.all.each do |opinion| %>
        <li><%= opinion.thought  %><small> <%= opinion.created_at %> </small></li>
        <% end %>
    </ul>
 
</div>
